.PersonalCard {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  column-gap: 32px;
  align-items: center;
  justify-content: center;
}

.PersonalCard-avatar {
  border-radius: 100%;
  width: 187px;
  height: 187px;
}

.PersonalCard-name {
  font-family: 'Roboto';
  font-size: 64px;
  color: #FFF;
}

.PersonalCard-job {
  font-family: 'Roboto';
  font-size: 32px;
  color: #FFF;
}

@media screen and (max-width: 831px) {
  .PersonalCard-job{
    text-align: center;
  }
  .PersonalCard-name{
    text-align: center;
  }
}